body{
	
	background-color:#FFFF66;
	margin-left:20%;
	margin-right:20%;

}

nav{
	float: right;
	border: 1px solid;
 
 }
 
img{
	
	
	margin: 10%;
	height:380px;
	width:660px;
	
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}